* {
    
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    background-color: rgb(243, 235, 250);
    padding:20px 10px;
}
.left-content span{
    padding:40px;
    font-size: 20px;
}
.right-content span{
    margin-left:auto;
    padding-right: 40px;
    padding-left:10px;
    font-size: x-large;
}
button{
    margin-left:auto;
    background-color: rgb(111, 13, 202);
    color:white;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    border-radius: 5%;
}
.right-content{
    margin-left:400px;
}

.landing-page{
    display: flex;
}
img{
    width: 65px;
    height: 50px;
    background-color: transparent;
}
.image img{
    height: 100px;
    margin-left: 700px;
    height: 500px;
    width: 400px;
    padding-right: 30px;
    border-radius:5% 5% 5% 5%;
    margin-top: 10px;
}
.first-h1{
    color:red;
    font-size: 50px;
    width: 300px;
    margin-right: 5px;
}
h2{
    font-size: xx-large;
}
.buttons{
    display:flex;
    padding-left: 10px;
}
.first-button button{
    border-radius: 5%;
}
.second-button button{
    margin-left:70px;
    border-radius: 5%;
    width: 160px;
}