* {
    
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    background-color: rgb(239, 237, 241);
    padding: 20px 10px;
}
.left-content span{
    padding: 40px;
    font-size:medium;
}
.right-content span{
    margin-left:auto;
    padding-right: 40px;
    padding-left:10px;
    font-size: x-large;
    color: rgb(24, 24, 177);
}
.right-content{
    margin-left:400px;
    display: flex;
}
.right-content button {
    background-color: rgb(235, 10, 10);
    color:white;
    height:50px;
    width:100px;
    border: none;
    border-radius:5px;
}
.log
.landing-page{
    display: flex;
}
img{
    width: 65px;
    height: 30px;
    background-color: transparent;
}
.image img{
    height: auto;
    height: 500px;
    width: auto;
    padding-right: 30px;
    border-radius:5% 5% 5% 5%;
}
.first-h1{
    color:red;
    font-size: 50px;
    width: 300px;
    margin-left: 10px;
}
h2{
    font-size: xx-large;
    color: rgb(3, 3, 49); 
    margin-left: 10px; 
}
p{
    font-size: x-large;
    color: rgb(1, 1, 24);
    margin-left: 10px;
}
.btns-landing-page{
    display:flex;
}
.first-btn button{
    background-color: rgb(255, 37, 37);
    color:white;
    width:160px;
    height:50px;
    border: 1px solid black;
    margin-left:200px;
    border-radius:5px ;
    cursor: pointer;
}
.second-btn button{
    background-color: rgb(255, 255, 255);
    color:red;
    width:200px;
    height:50px;
    margin-left:250px;
    font-family: normal;
    border-radius: 5px;
    cursor: pointer;
    border:1px solid red
}
.wrapper{
    width:1230px;
    height:90px;
    background-color: rgb(0, 0, 0);
    padding:20px;
    border-radius: 5px;
    margin-left: 30px;
}
.wrapper img{
    padding: 10px;
    padding-left:100px;
    width: 70px;
    height:30px;
}
.wrapper h3{
    color:rgb(224, 219, 219);
    margin-left: 500px;
}
.software-devs-and-data-science-card{
    background-color: rgb(248, 248, 248);
    width:33% ;
    height:50% ;
    border: 1px solid rgb(58, 2, 50);
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px 0px;
}
.software-h1{
    color:rgb(233, 62, 62);
    margin-top: 20px;
    margin-left:10px;
}
li{
    margin-left:20px;
}
.logo img{
    height: 90px;
    width: 90px;
}
.container{
    display:flex;
}
ul{
    list-style-type: circle ;
    color:blue;
}
.software-btn button{
    background-color:rgb(243, 239, 239);
    color:red;
    width: 300px;
    height:70px;
    margin-left:60px;
    border: 1px solid red;
    border-radius:5px;
    font-size: x-large;
}